<section class="homeOutter" ng-controller="HomeController">
  <h1 class="text-center lead">
    I am Boonda P
  </h1>
  <div class="jumbotron text-center col-lg-6 col-md-6 col-lg-12 col-md-12">
    <img ng-src="{{mypic}}" />
    <br>
    <br>
    <p>I am a frontend developer. I focus on highly detailed and pixel perfect responsive web interfaces. I am always learning new tools and looking forward to the next project to utilize my vast skillset.</p>
    <div ng-repeat="contactmet in contactmets">
      <a target="_blank" href="{{contactmet.href}}"><button type="button" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 quartered btn btn-default"><i class="fa {{contactmet.fa}}" aria-hidden="true"></i> {{contactmet.contactMethod}}</button></a>
    </div>
  </div>
  <a ng-href="portfolio">
    <div class="jumbotron col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h1>
        thoscene.com
      </h1>
      <h1>
        johnbrevard.com
      </h1>
      <h1>
        beachfragrances.com
      </h1>
      <h1>
        randazzossauces.com
      </h1>
      <div>
        <h1>Tools</h1>
          <ul>
            <li>
              CSS
            </li>
            <li>
              JavaScript
            </li>
            <li>
              Magento
            </li>
            <li>
              Angular.js
            </li>
            <li>
              jQuery
            </li>
            <li>
              Photoshop
            </li>
          </ul>
      </div>
    </div>
  </a>
</section>
