<section class="homeOutter" ng-controller="HomeController">
  <div class="jumbotron text-center col-lg-6 col-md-6">
    <div class="row">
      <p class="lead">
        I am Boonda P
      </p>
    </div>
    <div class="row">
      <p>
        <img class="dummy col-lg-12 col-md-12 col-sm-12 col-xs-12" src="{{mypic}}" />
      </p>
    </div>
    <div ng-repeat="contactmet in contactmets">
      <a target="_blank" href="{{contactmet.href}}"><button type="button" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 quartered btn btn-default"><i class="fa {{contactmet.fa}}" aria-hidden="true"></i> {{contactmet.contactMethod}}</button></a>
    </div>
  </div>
  <div class="jumbotron col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <p class="lead">
        Check Out My Previous Work
      </p>
    </div>
    <h1>
      thoscene.com
    </h1>
    <h1>
      johnbrevard.com
    </h1>
    <h1>
      beachfragrances.com
    </h1>
    <h1>
      randazzossauces.com
    </h1>

  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">I am a full-time web developer. After I learned that programming was my true passion I have made quick of progress. I began as a frontend developer, focusing on highly detailed and pixelperfect responsive web interfaces. After some time, I began working for John Brevard, I helped John by making the Thoscene platform a reality. I also helped maintain and advance our ecommerce platform and online presence in general. I am always learning new tools and looking forward to the next project to utilize my vast skillset.</div>
</section>
