<section class="homeOutter" ng-controller="HomeController">
  <div class="jumbotron text-center col-lg-6 col-md-6">
    <div class="row">
      <h1 class="lead">
        I am Boonda P
      </h1>
    </div>
    <div class="row">
      <p>
        <img class="dummy col-lg-12 col-md-12 col-sm-12 col-xs-12" src="{{mypic}}" />
      </p>
    </div>
    <br>
    <div ng-repeat="contactmet in contactmets">
      <a target="_blank" href="{{contactmet.href}}"><button type="button" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 quartered btn btn-default"><i class="fa {{contactmet.fa}}" aria-hidden="true"></i> {{contactmet.contactMethod}}</button></a>
    </div>
  </div>
  <div class="jumbotron col-lg-6 col-md-6 col-sm-12 col-xs-12">
    Check Out My Previous Work
    <h1>
      thoscene.com
    </h1>
    <h1>
      johnbrevard.com
    </h1>
    <h1>
      beachfragrances.com
    </h1>
    <h1>
      randazzossauces.com
    </h1>
    <br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">I am a frontend developer. I focus on highly detailed and pixel perfect responsive web interfaces. I helped John Brevard curate the Thoscene platform. I am always learning new tools and looking forward to the next project to utilize my vast skillset.</div>
  </div>

</section>
